<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>搜索详情</title>
    <meta name="description" content="详细内容检索">
    <meta name="keywords" content="">
    <meta name="author" content="sherwel">
    <link href="/static/fontsearch/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/fontsearch/css/site.min.css" rel="stylesheet">
    <!-- <link href="/static/fontsearch/css/font-awesome.css" rel="stylesheet"> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="/static/fontsearch/js/pace.js"></script>
    <!--<link href="/static/fontsearch/css/paceblue/pace-theme-minimal.css"  rel="stylesheet" />-->
    <link href="/static/fontsearch/css/paceblue/pace-theme-flash.css" rel="stylesheet"/>
</head>
<body style="height: 100%; margin: 0" onload="loaddata()" class="home-template">

<header class="site-header jumbotron">
    {%if username != ''%}
    <div class="site-nav"><a href="/nmaptool/">{{username}}</a> <span>/</span> <a href="#">关于</a>
        {%else%}
        <div class="site-nav"><a href="/nmaptool/login">登陆</a> <span>/</span> <a href="#">关于</a>
            {% endif %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Scan-T</h1>
                    <p>稳定、快速、免费的主机搜索服务<br>
                        <span class="package-amount">共收录了 <strong>大量</strong> 主机指纹</span>
                    </p>
                    <div role="search">
                        <div class="form-group">
                            <input type="hidden" id="pagenum" name="pagenum" >
                            <input type="text" id="searchcontent" class="form-control search clearable"
                                   placeholder="搜索组件，例如：MySQL" value={{content}}>
                            <i class="fa fa-search" onclick="sendsearch(2,1);"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>

<div class="mostused-packages well well-sm text-center hidden-xs hidden-sm"></div>
<!--<div class="container protocal-notice">-->
    <!--<div class="row">-->
        <!--<div class="col-xs-12 hidden-xs">-->


        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<main>
    <!--   <  main    class="packages-list-container" id="all-packages"> -->


<div id="container" style="height: 500%;margin: 5%;"></div>



</main>

<footer id="footer" class="footer hidden-print">
    <div class="container">
        <div class="row">
            <div class="about footer-col col-md-5 col-sm-12" id="about">
                <h4>关于 Scan-T</h4>
                <p> Scan-T 是 <a href="https://github.com/nanshihui/toolforspider" target="_blank">独立开发者</a>支持并维护的开源项目免费
                    主机扫描服务，致力于成为 Bootstrap、jQuery、Angular 一样优秀的开源项目提供稳定、快速的免费主机扫描服务。Scan-T所收录的主机资源主要来源于
                    <a href="https://github.com/nanshihui/toolforspider" target="_blank">实时扫描</a> 仓库。</p>
                <p></p>
                <p>反馈或建议请发送邮件至：nanshihui@gmail.com</p>
            </div>
        </div>
    </div>
</footer>


<a href="#" id="back-to-top" style="display: none;"><i class="fa fa-angle-up"></i></a>

<script type="text/javascript" src="/static/fontsearch/js/echarts-all-3.js"></script>
<script type="text/javascript" src="/static/fontsearch/js/dataTool.min.js"></script>
<script type="text/javascript" src="/static/fontsearch/js/china.js"></script>
<script type="text/javascript" src="/static/fontsearch/js/world.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
<script type="text/javascript" src="/static/fontsearch/js/bmap.min.js"></script>

<script type="text/javascript">
    function sendsearch(issearch, num) {
        content = document.getElementById('searchcontent').value;
        if (issearch == '2' || content == "") {
            document.getElementById('searchcontent').value = "";
        }
        else {
            loaddata();
        }
    }

    var xmlhttp;
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);

    //创建XMLHttpRequest对象
    function GetXmlHttp(xmlhttp) {
        if (window.XMLHttpRequest) //非IE浏览器，用xmlhttprequest对象创建
        {
            xmlhttp = new XMLHttpRequest();
        }
        else if (window.ActiveXObject) //IE浏览器用activexobject对象创建
        {

            try {
                xmlhttp = new ActiveXObject("Msxml2.XMLHTTP.3.0");
            } catch (e) {
                try {
                    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                } catch (e) {


                }
            }
        }
        return xmlhttp;
    }
    function loaddata() {
        xmlhttp = GetXmlHttp(xmlhttp);
        var str = '';
        content = document.getElementById("searchcontent").value;
        content = 'mysql'
        str = 'content=' + content ;
        alert(str);

        xmlhttp.open("POST", "/fontsearch/mapsearch", true);
        xmlhttp.onreadystatechange = callback;
        xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xmlhttp.send(str);
        Pace.track();
    }

    function callback() {
        if (xmlhttp.readyState != 4) {

        }
        else {
            if (xmlhttp.status == 200) {
                var a = xmlhttp.responseText;
                var result=JSON.parse(a);

                data = result.ports;
                var resultsize = result.resultsize
                myChart = echarts.init(dom);
                getdata(data, resultsize);
            }
        }
    }

    function getdata(data, size) {
        alert([data[0].name, data[0].value, size]);
        i=size/40;
        options = createoption();
        myChart.setOption(options);   
    }

    function createoption() {
        var option = {  
            backgroundColor: '#BBFFFF',  
            title : {  
                text: '异常分布',  
                x:'center'
            },  
            tooltip: {  
                trigger: 'item',    
                formatter: function(params) {    
                    var res = params.name+'<br/>';    
                    var myseries = option.series;    
                    if (convertData) {  
                        for (var i = 0; i < myseries.length-1; i++) {  
                            for (var j=0;j<myseries[i].data.length;j++) {
                                if(myseries[i].data[j].name==params.name){
                                    res+=myseries[i].name +' : '+myseries[i].data[j].value+'</br>';   
                                }  
                            }  
                        }  
                    }  
                    else {  
                        for (var i = 0; i < myseries.length; i++) {    
                            for(var j=0;j<myseries[i].data.length;j++){    
                                if(myseries[i].data[j].name==params.name){    
                                    res+=myseries[i].name +' : '+myseries[i].data[j].value+'</br>';    
                                }    
                            }    
                        }   
                    }    
                    return res;    
                }    
            },  
            legend: {  
                orient: 'vertical',
                y: 'bottom',
                x:'90%',  
                data:['超时','失败','运行中']
            }, 
            geo: {  
                map: 'china',  
                label: {  
                    emphasis: {  
                        show: false
                    }  
                },
                roam: true,
                itemStyle: {  
                    normal: {  
                        areaColor: '#FFE4CA',  
                        borderColor: '#84C1FF',  
                        borderWidth: 0.8  
                    },  
                    emphasis: {  
                        areaColor: '#FFC78E'  
                    }  
                }  
            },  
            dataRange: {
                min: 0,
                max: 30,
                x: 'left',
                y: 'bottom',
                text:['高','低'],
                calculable : true,
                color:['red','orange','yellow','green'],  
            },  
            toolbox: {  
                show: true,  
                orient : 'vertical',  
                x: 'right',  
                y: 'center',  
                feature : {  
                    mark : {show: true},  
                    dataView : {show: true, readOnly: false},  
                    restore : {show: true},  
                    saveAsImage : {show: true}  
                }  
            },  
            roamController: {  
                show: true,  
                x: 'right',  
                mapTypeControl: {  
                    'china': true  
                }  
            },  
            series : [  
                {  
                    name: '超时',  
                    type: 'map',  
                    mapType: 'china',  
                    roam: false,  
                    itemStyle:{  
                        normal:{label:{show:false}},  
                        emphasis:{label:{show:true}}  
                    },  
                    data:[  
                         {name: '广东',value: 4},  
                         {name: '黑龙江',value: 1},  
                         {name: '湖南',value: 3}  
                    ]  
                },  
                {  
                    name: '失败',  
                    type: 'map',  
                    mapType: 'china',  
                    itemStyle:{  
                        normal:{label: {show: false}},
                        emphasis:{label:{show:true}}  
                    },  
                    data:[  
                        {name: '安徽',value: 11},  
                        {name: '北京',value: 1},  
                        {name: '大连',value: 13},  
                        {name: '福建',value: 6},  
                        {name: '甘肃',value: 1},  
                        {name: '广东',value: 4},  
                        {name: '广西',value: 10},  
                        {name: '贵州',value: 9},  
                        {name: '海南',value: 4},  
                        {name: '河北',value: 1},  
                        {name: '河南',value: 18},  
                        {name: '黑龙江',value: 1},  
                        {name: '湖北',value: 3},  
                        {name: '湖南',value: 18},  
                        {name: '吉林',value: 16},  
                        {name: '江苏',value: 16},  
                        {name: '江西',value: 24},  
                        {name: '辽宁',value: 1},  
                        {name: '内蒙古',value: 18},  
                        {name: '宁波',value: 12},  
                        {name: '宁夏',value: 1},  
                        {name: '青岛',value: 2},  
                        {name: '青海',value: 23},  
                        {name: '山东',value: 14},  
                        {name: '山西',value: 8},  
                        {name: '陕西',value: 13},  
                        {name: '上海',value: 10},  
                        {name: '深圳',value: 4},  
                        {name: '四川',value: 8},  
                        {name: '天津',value: 28},  
                        {name: '西藏',value: 2},  
                        {name: '厦门',value: 5},  
                        {name: '新疆',value: 4},  
                        {name: '云南',value: 10},  
                        {name: '浙江',value: 13},  
                        {name: '重庆',value: 18}  
                    ],  
                },  
                {  
                    name: '运行中',  
                    type: 'map',  
                    mapType: 'china',  
                    itemStyle:{  
                        normal:{label:{show:false}},  
                        emphasis:{label:{show:true}}  
                    },  
                    data:[  
                         {name: "青岛", value: 1},  
                         {name: "厦门", value: 23},  
                         {name: "宁波", value: 12},  
                         {name: "深圳", value: 4},  
                         {name: "大连", value: 13},  
                    ]  
                },  
                {  
                    name: '计划单列市',  
                    type: 'effectScatter',//影响散点  
                    coordinateSystem: 'geo',  
                    symbolSize: 12,  
                    showEffectOn: 'render',  
                    rippleEffect: {  
                        brushType: 'stroke'  
                    },  
                    hoverAnimation: true,  
                    label: {  
                        normal: {  
                            color: '#c60fff',  
                            formatter: '{b}',  
                            position: 'right',  
                            show: false  
                        },  
                        emphasis: {  
                            show: true  
                        }  
                    },  
                    itemStyle: {  
                        normal: {  
                            color: '',  
                            shadowBlur: 10,  
                            shadowColor: '#333'  
                        },  
                    },  
                    data: convertData([  
                        {name: "青岛"},  
                        {name: "厦门"},  
                        {name: "宁波"},  
                        {name: "深圳"},  
                        {name: "大连"},  
                    ]),  
                }  
            ]  
        };  
        return option;
    }

    var geoCoordMap = {//自定义城市坐标  
        "青岛":[120.33,36.07],  
        "厦门":[118.1,24.46],  
        "宁波":[121.56,29.86],  
        "深圳":[114.07,22.62],  
        "大连":[121.62,38.92]  
    };  

    var convertData = function (data) {
        var res = [];
        for (var i = 0; i < data.length; i++) {
            var geoCoord = geoCoordMap[data[i].name];
            if (geoCoord) {
                res.push({
                    name: data[i].name,
                    value: geoCoord.concat(data[i].value)
                });
            }
        }
        return res;
    };

    // 调用显示
    // options = createoption();
    // myChart.setOption(options);   
    myChart.on('mouseover', function (params) {  
        var dataIndex = params.dataIndex;  
        console.log(params);  
    });  

    window.addEventListener("resize",function(){  
        myChart.resize();  
    });  

    document.onkeydown = function (e) {
        //捕捉回车事件
        var ev = (typeof event != 'undefined') ? window.event : e;
        if (ev.keyCode == 13 && document.activeElement.id == "searchcontent") {
            loaddata(0);
        }
    }

</script>

<script src="/static/fontsearch/js/jquery.min.js"></script>
<script src="/static/fontsearch/js/base64.js"></script>
<script src="/static/fontsearch/js/highlight.js"></script>
<script src="/static/fontsearch/js/jbase64.js"></script>
<script src="/static/fontsearch/js/bootstrap.min.js"></script>
<script src="/static/fontsearch/js/geopattern.min.js"></script>
<script src="/static/fontsearch/js/ZeroClipboard.min.js"></script>
<script src="/static/fontsearch/js/localforage.nopromises.min.js"></script>
<script src="/static/fontsearch/js/jquery.scrollTo.js"></script>
<script src="/static/fontsearch/js/site.min.js"></script>
<script src="/static/fontsearch/js/h.js" type="text/javascript"></script>
</body>
</html>
