<html>
    <body>
        <p>
            <h1>login</h1>
            <h5>username: {{username}}</h5>
            <h5>password: {{password}}</h5>
            <h5>result: {{result}}</h5>
            <h5>role: {{role}}</h5>
            <h5>power: {{power}}</h5>
        </p>

        <h5>islogin:{{islogin}}</h5>
        <h5>jobid:{{jobid}}</h5>

        <p>
            <h1>startjob</h1>
            <h5>islogin:{{islogin}}</h5>
            <h5>jobid:{{jobid}}</h5>
            <h5>username: {{username}}</h5>
            <h5>role: {{role}}</h5>
            <h5>state:{{state}}</h5>
        </p>

        <p>
            <h1>starttask</h1>
            <h5>islogin:{{islogin}}</h5>
            <h5>jobid:{{jobid}}</h5>
            <h5>username: {{username}}</h5>
            <h5>role: {{role}}</h5>
            <h5>state:{{state}}</h5>
        </p>
    </body>
</html>
